.topBannerContainer {
    height:149px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #FFF;
}

.logoContainer {
    float:left;
    height:100%;
    width:50%;
    min-width:460px;
    margin-left:10px;
    background-image: url(../images/logo2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
}

.logoContainer a {
    display:block;
    width:100%;
    height:100%;
}

.contactContainer {
    display:block;
    position:absolute;
    top:5px;
    right:10px;
    width:250px;
    height: 100%;
    margin-right:30px;
}

.contactContainer h2 {
    float:left;
    font-family: "Langdon";
    font-size:2em;
    margin-bottom:0;
}

.contactContainer i {
    width:30px;
}

.contactContainer p{
    float:left;
    font-size: 1.3em;
    margin:0;
}

.topMenuContainer {
    display:block;
    background: rgb(91,197,1);
    background: -moz-linear-gradient(top, rgba(91,197,1,1) 85%, rgba(74,137,1,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,rgba(91,197,1,1)), color-stop(100%,rgba(74,137,1,1)));
    background: -webkit-linear-gradient(top, rgba(91,197,1,1) 85%,rgba(74,137,1,1) 100%);
    background: -o-linear-gradient(top, rgba(91,197,1,1) 85%,rgba(74,137,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(91,197,1,1) 85%,rgba(74,137,1,1) 100%);
    background: linear-gradient(to bottom, rgba(91,197,1,1) 85%,rgba(74,137,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc501', endColorstr='#4a8901',GradientType=0 );
}

.topMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display:table;
    margin-left:85px;
    border-left:1px solid #10410c;
    /*border-left:1px solid #1a4b01;*/
}

.topMenuItem {
    margin: 0;
    padding: 0;
    display:inline-block;
    font-weight: bold;
    font-size:1.4em;
    /*border-right:1px solid #1a4b01;*/
/*    border-right:1px solid black;*/
}

.topMenuItem a {
    color: #215d01;
    display:block;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    margin:0;
    text-decoration: none;
    border-right:1px solid #10410c;
}

.topMenuItem a:hover {
    background: rgb(154,196,117);
    background: -moz-linear-gradient(top, rgba(154,196,117,1) 85%, rgba(74,137,1,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,rgba(154,196,117,1)), color-stop(100%,rgba(74,137,1,1)));
    background: -webkit-linear-gradient(top, rgba(154,196,117,1) 85%,rgba(74,137,1,1) 100%);
    background: -o-linear-gradient(top, rgba(154,196,117,1) 85%,rgba(74,137,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(154,196,117,1) 85%,rgba(74,137,1,1) 100%);
    background: linear-gradient(to bottom, rgba(154,196,117,1) 85%,rgba(74,137,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac475', endColorstr='#4a8901',GradientType=0 ); 
}

.topMenuItem a:active {
    color:white;
}

.carouselContainer {
    display:block;
    margin:0;
    padding:0;
    float:left;
    height:400px;
    width:100%;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.bx-wrapper {
    margin-left:0 !important;
    margin-bottom:0 !important;
}

.bx-wrapper img {
    width: 100%;
    height:auto;
/*    height: 400px;*/
    }

.bx-wrapper .bx-caption {
    display:inline-block;
    position: absolute;
    top:0;
    right:0;
    width:43%;
    padding:5px;
    z-index: 9999;
    color:white;
    background-color: rgba(232, 138, 30, 0.8);
}

.bx-wrapper .bx-caption span {
    margin:0;
    margin-top:10px;
    font-size: 1.2em;
    letter-spacing:1px;
}

.bx-wrapper .bx-viewport {
    border:none;
    left:0;
}

.carouselText p {
    margin-top:5px;
}

.featuresBox.mobile {
    display: none;
}

.featuresBox {
    position: absolute;
    top:260px;
    left:85px;
    z-index: 100;
    width:250px;
    padding:5px;
    padding-left:10px;
    background-color: rgba(91,197,1,0.6);
}

.captionBox {
    position:absolute;
    bottom:40%;
    right:0;
    width:400px;
    height:100px;
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    padding-right:40px;
    padding-left:10px;
}

.captionBox h2 {
    color: rgba(91,197,1,1);;
    font-size: 1.4em;
    font-weight: normal;
    margin:0;
    padding:0;
}

.captionBox p {
    color:white;
}

.mobileMenu, .mobileMenuContainer {
    display:none;
}

.mobileContacts {
    display:none;
}

.strapline h2 {
    padding-left: 10px;
    font-size: 1.5em;
}

.headlineBox {
    display:block;
    position: absolute;
    top:140px;
    left:85px;
    z-index:100;
    width:400px;
    padding:5px;
    padding-left:10px;
    background-color: rgba(91,197,1,0.6);
}

.headlineBox h2 {
    margin:0;
    padding:0;
    color:white;
    font-weight: normal;
    letter-spacing:0.5px;
    font-size: 1.5em;

}


.controlContainer {
    display:none;
}

.topMenu {
    margin-left:10px;
}
