{% load flowpatrol_tags cache compress static wagtailuserbar wagtailcore_tags %}

<h2>Request a Callback</h2>
<form method="post" action="{% pageurl self %}" name="contactForm">
    {% csrf_token %}
<!--     <input type="radio" name="which_choice" value="1">Choice 1<br>
    <input type="radio" name="which_choice" value="2">Choice 2<br>
    <input type="radio" name="which_choice" value="3">Choice 3<br>
    <input type="submit" value="Submit"> -->
    <label for="name">Name:</label><input type="text" id="name" name="name" />
    <label for="email">Email:</label><input type="email" id="email" name="email" />
    <label for="phone">Phone:</label><input type="tel" id="phone" name="phone" />
    <label for="message">Message:</label><textarea type="text" id="message" class="messageBox" name="message"></textarea>
    <input type="submit"  />
</form>