{% extends "flowpatrolcore/base.html" %}
{% load flowpatrol_tags cache compress static wagtailcore_tags %}

{% block extra_css %}
{% endblock %}

{% block body_class %}
    test-style
{% endblock %}

{% block content %}
    {% with self.carousel_items.all as carousel_items %}
        {% if carousel_items %}
            {% include "flowpatrolcore/includes/carousel.html" with self=self carousel_items=carousel_items %}
        {% endif %}
    {% endwith %}
    {% if self.headline and self.features %}
        <div class='featuresBox mobile'>{{ self.features|richtext }}</div>
    {% endif %}
    <div class='lowerContainer'>
             {% include "flowpatrolcore/includes/body.html" with body=self.body only %}
        <div class='formContainer'>
            {% include "flowpatrolcore/includes/contact_form.html" %}
        </div>
    </div>
{% endblock %}
